<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="../../assets/logo.jpg" />
        <ion-text id="heading">Contact Us</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="support-container">
    <div class="logo">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </div>
    <div class="text">
      <ion-text>
        For any kind of query / issues Contact on our What's App no
        {{admin.wpNumber}}
      </ion-text>
    </div>
  </div>
</ion-content>
