$lato: "Lato", sans-serif;
$qua: "Quantico", sans-serif;
$sans: "Work Sans", sans-serif;

img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}
#wallet {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f5f9ff;
  border: 1px dashed #d8d8d8;
  border-radius: 23px;
  padding: 7px;
  ion-text {
    margin-left: 8px;
    font-family: $lato;
    font-size: 14px;
    font-weight: 700;
  }
}
.play-history {
  margin-top: 40px;
  text-align: center;
  font-family: $sans;
  font-size: 14px;
}

.wrapper {
  margin-top: 40px;
  width: 90%;
  margin: 20px auto;
  .date {
    font-family: $qua;
    font-size: 12px;
  }
  .winning-list-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8px;
    .numbers-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      padding: 10px;
      background-color: #e6e6e6;
      font-size: 11px;
      width: 35px;
      margin-left: 8px;
      div {
        height: 1px;
        background-color: #b7b7b7;
        width: 100%;
        margin: 5px;
      }
    }
  }
}
