<header style="height: 40px">
  <ion-button (click)="nav()" fill="clear">
    <ion-icon style="font-size: 25px" name="arrow-back-outline"></ion-icon>
  </ion-button>
</header>
<div>
  <img src="../../assets/logo.jpg" />
</div>
<ion-content>
  <ion-item lines="none">
    <ion-text style="margin: 20px 0"
      >Share the app with your friends. Click the share button to share now.
    </ion-text>
  </ion-item>
  <ion-button (click)="share()" expand="full">
    <ion-icon name="share-social-outline"></ion-icon>
  </ion-button>
</ion-content>
