$lato: "Lato", sans-serif;
$qua: "Quantico", sans-serif;
$sans: "Work Sans", sans-serif;
$fre: "Fredoka One", cursive;

#wallet {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f5f9ff;
  border: 1px dashed #d8d8d8;
  border-radius: 23px;
  padding: 7px;
  ion-text {
    margin-left: 8px;
    font-family: $lato;
    font-size: 14px;
    font-weight: 700;
  }
}

.total-amount-wrapper {
  width: 90%;
  margin: 24px auto;
  label {
    font-family: $sans;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #3a3c3f;
  }
  input {
    margin-top: 7px;
    width: 100%;
    background: #eaecee;
    border-radius: 16px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 13px;
    font-family: sans-serif;
  }
}

.phone-no-wrapper {
  width: 90%;
  margin: 20px auto;
  label {
    font-family: $sans;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #3a3c3f;
  }
  input {
    margin-top: 7px;
    width: 100%;
    background: #eaecee;
    border-radius: 16px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 13px;
    font-family: sans-serif;
    color: #6a6a6a;
  }
}

.upi-wrapper {
  width: 90%;
  margin: 20px auto;
  label {
    font-family: $sans;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #3a3c3f;
  }
  select {
    margin-top: 7px;
    width: 100%;
    background: #eaecee;
    border-radius: 16px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 13px;
    font-family: sans-serif;
  }
}

ion-content {
  position: relative;
}

.info {
  width: 100%;
  position: absolute;
  bottom: 89px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  ion-text {
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #586675;
    width: 70%;
    display: block;
  }
}
.submit {
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  button {
    height: 58px;
    width: 100%;
    margin: auto;
    background: #567df4;
    border-radius: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
  }
}
