<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <div id="wallet">
          <ion-icon color="success" name="wallet"></ion-icon>
          <ion-text>₹ {{ user?.walletBalance }}</ion-text>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <div class="total-amount-wrapper">
    <label>Enter Amount to withdraw</label>
    <input (input)="amtChnage($event)" type="number" />
  </div>

  <div class="phone-no-wrapper">
    <label>Enter Phone no to receive money</label>
    <input (input)="noChange($event)" />
  </div>

  <div class="upi-wrapper">
    <label for="upis">Payment UPI</label>
    <select (change)="gChnage($event)" id="upis">
      <option value="one">Select One</option>
      <option value="phonePay">Phone Pay</option>
      <option value="gPay">Google Pay</option>
    </select>
  </div>

  <div class="info">
    <ion-text>
      After you submit the form. Money will be sent to your account({{ no }})
      within a business day. Thank you
    </ion-text>
  </div>

  <div class="submit" (click)="save()">
    <button>SUBMIT</button>
  </div>
</ion-content>
