<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="../../assets/logo.jpg" />
        <ion-text id="heading">My Bids</ion-text>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <div id="wallet">
          <ion-icon color="success" name="wallet"></ion-icon>
          <ion-text>₹ {{user?.walletBalance}}</ion-text>
        </div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select
        (ionChange)="selectGame($event)"
        interface="action-sheet"
        placeholder="Select Game"
      >
        <ion-select-option *ngFor="let g of gameList" [value]="g"
          >{{g.name}}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>

  <div *ngIf="!hide" class="play-history">
    <ion-text>Play History</ion-text>
  </div>
  <div *ngIf="!hide" class="radio-group">
    <ion-radio-group [allowEmptySelection]="true" value="single">
      <ion-item (click)="getRadio('single')">
        <ion-label>Single</ion-label>
        <ion-radio slot="end" value="single"></ion-radio>
      </ion-item>
      <ion-item (click)="getRadio('triple')">
        <ion-label>Patti</ion-label>
        <ion-radio slot="end" value="patti"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>

  <div *ngIf="!hide" class="my-bids heading">
    <ion-text>Date</ion-text>
    <ion-text>Baji</ion-text>
    <ion-text>Number</ion-text>
    <ion-text>Amount</ion-text>
    <ion-text>Result</ion-text>
  </div>
  <div class="my-bids content" *ngFor="let bet of bets">
    <ion-text>{{bet.Date}}</ion-text>
    <ion-text>{{bet.bajiNo}}</ion-text>
    <ion-text>{{bet.number}}</ion-text>
    <ion-text>₹ {{bet.amount}}</ion-text>
    <ion-text>{{bet.result}}</ion-text>
  </div>
</ion-content>
