<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <img src="../../assets/logo.jpg" />
        <ion-text id="heading">Profile</ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="your-info"><ion-text>Your Information</ion-text></div>
  <div id="profile-container">
    <ion-item>
      <ion-avatar slot="start">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-label>{{user?.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="phone-portrait-outline"></ion-icon>
      </ion-avatar>
      <ion-label>{{user?.phoneNo}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="wallet-outline"></ion-icon>
      </ion-avatar>
      <ion-label>₹ {{user?.walletBalance}}</ion-label>
    </ion-item>
    <!-- <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="ribbon-outline" color="success"></ion-icon>
      </ion-avatar>
      <ion-label>₹ {{user?.name}} <sup>(winning amount)</sup></ion-label>
    </ion-item> -->
  </div>
</ion-content>
